body {
  background-color: transparent;
  font-family: 'Lexend Exa', sans-serif;
  color: #F9F8FD;
}

nav {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 3px solid #333;
  border-radius: 25px;
  animation: slide-in 1s ease-out;
  transition: top 0.3s ease-out;
  z-index: 1;
}

nav ul {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 50px;
  list-style-type: none;
}

li:not(:last-child) {
  margin-right: 40px;
}

li {
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 10px;
  transition: background 0.2s, box-shadow 0.2s;
}

li a {
  color: #F9F8FD;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

li:hover {
  background-color: #444;
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.2); /* Add a subtle glow on hover */
}

li:hover a {
  color: #fff;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
  margin-top: 100px;
}

.product-container {
  flex-basis: calc(20% - 6px);
  margin: 5px;
  background-color: #1A1A1A;
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 5px 2px #EBECF1;
}

.product-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.2); /* Add a subtle glow on hover */
}

.product-container img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.product-description {
  margin-top: 20px;
  text-align: center;
  color: #F9F8FD;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  color: #F9F8FD;
  text-align: center;
  margin-top: 5px;
}